---
import { ImageCarousel as Page } from "../../experiments/image-carousel/ImageCarousel"
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Experiment - Image Carousel</title>
  </head>
  <body>
    <Page client:load/>
  </body>
</html>